<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Django</title>
    <style>
        #map { height: 400px; }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
</head>
<body>
    <!--Formulario para agregar coordenadas-->
    <h1>Escribe tus coordenadas:</h1>
    <form action="{% url 'coordinates' %}" method="get">
        <input type="text" id="latitud" name="latitud" placeholder="Latitud">
        <input type="text" id="longitud" name="longitud" placeholder="Longitud">
        <button type="submit">Enviar</button>
    </form>
    <div id="map"></div>

    <!--Agregamos lo necesario para agregar mapas de Leaflet.js-->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script>
        // El IDE no reconoce las variables de Django, pero en el navegador sí estarán definidas
        // y se pueden usar directamente en el código JavaScript.
        // Se asume que las variables latitud y longitud están definidas en el contexto de la plantilla
        var map = L.map('map').setView([{{ latitud }}, {{ longitud }}], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([{{ latitud }}, {{ longitud }}]).addTo(map)
            .bindPopup('Ubicación: {{ latitud }}, {{ longitud }}')
            .openPopup();
    </script>
</body>
</html>